{% for service, settings in services %}
    <li style="background: {% if settings.live %}green{% else %}red{% endif %};"><a href="{{settings.protocol|default('http')}}://{{settings.domain}}{% if settings.port is defined %}:{{settings.port}}{% endif %}">{{service}}</a></li>
{% endfor %}    